<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.moyun.Dao.UserDao">
    <insert id="registerUser" parameterType="User">
        insert into user_info(userid,password,is_teacher,email)
        values(#{UserID},#{Password},#{isTeacher},#{Email})
    </insert>
    <select id="getUserByUserID" resultType="User">
        select *
        from user_info
        where userid=#{UserID}
    </select>
    <select id="getUserByUserIDAndPassword" resultType="User">
        select *
        from user_info
        where userid=#{UserID} and password=#{Password}
    </select>
    <select id="getUserByUserIDAndEmail" resultType="User">
        select *
        from user_info
        where userid=#{UserID} and email=#{Email}
    </select>
    <update id="updatePasswordByUserID" parameterType="User">
        update user_info
        set password=#{Password}
        where userid=#{UserID}
    </update>
    <update id="updateUserInfo" parameterType="User">
        update user_info
        set username=#{Username},sex=#{Sex},email=#{Email},birthday=#{Birthday},signature=#{Signature}
        where userid=#{UserID}
    </update>
    <update id="updatePictures" parameterType="User">
        update user_info
        set head_image=#{HeadImage},background_image=#{BackgroundImage}
        where userid=#{UserID}
    </update>
    <insert id="addFollow" parameterType="FollowList">
        insert into follow_list(followerid, followedid, follow_time)
        values(#{FollowerID},#{FollowedID},#{FollowTime})
    </insert>
    <delete id="deleteFollow" parameterType="FollowList">
        delete from follow_list
        where follow_listid=#{FollowListID}
    </delete>
    <select id="getFollowListByUserID" resultType="FollowList">
        select *
        from follow_list
        where followerid=#{FollowerID}
    </select>
    <insert id="addBlacklist" parameterType="Blacklist">
        insert into blacklist(userid, ban_userid, ban_time)
        values(#{UserID},#{BanUserID},#{BanTime})
    </insert>
    <delete id="deleteBlacklist" parameterType="Blacklist">
        delete from blacklist
        where blacklistid=#{BlacklistID}
    </delete>
    <select id="getBlacklistByUserID" resultType="Blacklist">
        select *
        from blacklist
        where userid=#{UserID}
    </select>
    <select id="isFollow" resultType="FollowList">
        select *
        from follow_list
        where followerid=#{MyID} and followedid=#{UserID}
    </select>
    <select id="isBan" resultType="Blacklist">
        select *
        from blacklist
        where userid=#{MyID} and ban_userid=#{UserID}
    </select>
</mapper>